#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: flex-end;
}

form {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 480px 320px;
  background-color: white;
  color: hsl(235, 18%, 26%);
  width: 800px;
  height: 527px;
  border-radius: 20px;
}

.input-field {
  display: grid;
  margin-left: 10px;
  align-items: center;
  height: 527px;
}

h1 {
  margin-left: 40px;
  font-size: 50px;
}

p {
  margin-left: 40px;
  padding: 0;
}

.message {
  text-wrap: nowrap;
}
.image {
 
}
.image img {
  height: 100%;
}
ul {
  margin-left: 0;
}
 .list {
  display: flex;
  padding: 5px;
  margin-left: 0;
 }

 .list img {
  margin-right: 20px;
 }